@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
body {
  min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--background-color);
  color: var(--text-color);
}


.light {
  --background-color: #eaedf0;
  --background-shape: #fff;
  --text-color: #000;
  --svg-color: #ffbb52;
  --card-shadow-color-top-left: hsla(0, 0%, 100%, 0.6);
  --card-shadow-color-bottom-right: rgba(21, 43, 71, 0.06666666666666667);
}

.dark {
  --background-color: #121212;
  --background-shape: #282e34;
  --text-color: #b3b3b3;
  --svg-color: #ffffff;
  --card-shadow-color-top-left: rgba(0, 0, 0, 0.6);
  --card-shadow-color-bottom-right: hsla(0, 0%, 58.8%, 0.06666666666666667);
}
